@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.bg-light-gray {
  background-color: hsl(212, 45%, 89%);
}
.qr-code-card {
  max-width: 375px;
}
.qr-code-card-copy > h2, .qr-code-card-copy > p {
  font-family: 'Outfit', sans-serif;
}
.qr-code-card-copy > h2 {
  font-size: 25.5px;
  color: hsl(218, 44%, 22%);
  line-height: 130%;
}
.qr-code-card-copy > p {
  font-size: 18px;
  color: hsl(220, 15%, 55%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }